.bash_history
.bash_logout
.bashrc
.cache/
.config/github-copilot/
.config/nvim/pack/
.config/nvim/plugin/
.gitconfig
.lesshst
.local/
.motd_shown
.npm/
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.tmux/
.vim/
.viminfo
.vscode-server/
.wget-hsts
dev/
